pre.sh_javascript_dom {
  padding: 1em;
}

pre.sh_javascript_dom.displayed,
pre.sh_javascript_dom .displayed {
  opacity: 1;
}

quote {
  font-style: italic;
  width: 65%;
  margin: 0 auto;
  display: block;
}


#timer::before {
  content: 'time'
}

header.slide#intro {
  background: url(../img/destroyer.jpg) top right no-repeat;
  background-size: auto 100%;
  overflow: hidden;
}

  header.slide#intro > h1 {
    text-align: left;
    margin-left: 0;
  }

  header.slide#intro > h1 > strong {
    margin-bottom: .2em;
    font-size: 200%;
    line-height: .8;
  }

  header.slide#intro > h1 > strong:first-line {
    font-size: 140%;
    line-height: .8;
    text-transform: none;
  }

  header.slide#intro > p.attribution {
    text-align: left;
    color: black;
    background: rgba(255,255,255,.6);
    text-shadow: 0 .03em .03em white;
  }


div.wrapper {
  font-size: 400%;
  width: 7.5em;
  margin: 0 auto;
}

div.circle {
  background: red;
  border-radius: 999px;
  float: left;
  margin: 0.1em;
  text-align: center;
  box-shadow: .02em .02em .1em black;
  width: 1.6em;
}

  div.circle.r.displayed {
    opacity: 1;
  }

  div.circle.r.displayed span.controller,
  div.circle.r span.router {
    display: none;
  }

  div.circle.r.displayed span.router {
    display: inline;
  }

.question {
  color: orange;
}

.question + p {
  margin-bottom: 1em;
}

.question:last-of-type {
  font-size: 200%;
}

#sebslomski {
  color: white;
  text-align: center;
}

  #sebslomski > img {
      display: block;
      margin: .5em auto 0;
    }

    #sebslomski > pre {
      margin: 0;
      background: transparent;
      font-size: 130%;
      font-weight: bold;
      box-shadow: none;
      margin-left: -1em;
    }

      #sebslomski > pre a {
        text-decoration: none;
      }

      #sebslomski .delayed.current,
      #sebslomski .delayed.displayed {
        color: #CDD452;
        opacity: 1;
      }


  #sebslomski > #for-hire {
    position: absolute;
    top: 30px;
    right: 30rem;
    padding: 2em;
    height: 4em;
    width: 4em;
    background: rgba(255,0,0,.9);
    color: white;
    line-height: 1.3;
    text-align: center;
    text-shadow: none;
    font-size: 120%;
    border-radius: 50%;

    -moz-transition: .6s -moz-transform cubic-bezier(0,1,1,1.3);
    -ms-transition: .6s -moz-transform cubic-bezier(0,1,1,1.3);
    -o-transition: .6s -moz-transform cubic-bezier(0,1,1,1.3);
    -webkit-transition: .6s -moz-transform cubic-bezier(0,1,1,1.3);
    transition: .6s -moz-transform cubic-bezier(0,1,1,1.3);
  }

  #sebslomski > #for-hire {
    -moz-transform: rotate(15deg) scale(4);
    -ms-transform: rotate(15deg) scale(4);
    -o-transform: rotate(15deg) scale(4);
    -webkit-transform: rotate(15deg) scale(4);
    transform: rotate(15deg) scale(4);
  }

  #sebslomski > #for-hire.current {
    -moz-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    -o-transform: rotate(15deg);
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
  }
